<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg">
        <div class="container">
            <!-- <i class='bx bx-menu mx-4' id="header-toggle"></i> -->
        </div>
        <form class="d-flex">
            <input class="form-control input-search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary btn-white btn-large fw-bold" type="submit">Search</button>
        </form>
        <div class="ms-3">
            <img src="/images/icon_profil.png" class="rounded-circle" alt=""
                style="width: 38px; height: 38px; object-fit: cover;">
        </div>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
                aria-expanded="false">
                Unis Badri
            </button>
            <ul class="dropdown-menu dropdown-menu-sm-end">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar close">
        <div class="sidebar-color"></div>
        <header>
            <div class="image-text">
                <span class="image ms-2">
                    <img src="/images/sidebar_logo.png" alt="" style="width: 34px;">
                </span>
                <div class="img-brand">
                    <img src="/images/binar.png" alt="" style="height: 34px;">
                </div>
                <i class='bx bx-menu mx-4 toggle' id="header-toggle"></i>
            </div>
        </header>


        <div class="menu-bar">
                <div class="menu">
                <li class="nav-link mt-2">
                    <a href="#">
                        <!-- <i class='bx bx-home-alt'></i> -->
                        <img src="/images/home.png" alt="">
                        <span class="fw-bold mx-3">CARS</span>
                    </a>
                </li>
                <li class="nav-link mt-4">
                    <a href="#">
                        <!-- <i class='bx bx-home-alt'></i> -->
                        <img src="/images/administrator.png" alt="">
                        <span class="fw-bold mx-3">List Car</span>
                    </a>
                </li>
            </div>
        </div>
    </div>

    <main class="main close mt-3">
        <div class="rule pt-3 mb-3">
            <a class="fw-bold">CARS<i class='bx bx-chevron-right'></i></a>
            <a>List Car</a>
        </div>

        <div class="pt-2 d-flex justify-content-between">
            <h4 class="h4 fw-bold">List Car</h4>
            <form action="/cars/formCreate" method="get">
                <button class="btn btn-blue fw-bold float-end mx-4" style="font-size: 14px;">
                    <i class="bx bx-plus btn-add me-3 align-middle "></i>Add New Car
                </button>
            </form>
        </div>

        <div class="py-3 d-flex justify-content-start">
            <button class="btn btn-outline-primary fw-bold btn-filter-size active-filter me-3">
                All
            </button>
            <button class="btn btn-outline-primary fw-bold btn-filter-size me-3">
                Small
            </button>
            <button class="btn btn-outline-primary fw-bold btn-filter-size me-3">
                Medium
            </button>
            <button class="btn btn-outline-primary fw-bold btn-filter-size me-3">
                Large
            </button>
        </div>
         <!-- Card Car -->
         <div class="container-fluid my-3">
            <div class="row row-cols-lg-4 me-2" id="cars-container">
                <% for (let i = 0; i < cars.length; i++) { %>
                    <!-- Card Data From JSON -->
                    <div class="mb-3 mb-3 col-xxl-3 col-xl-4 col-md-6 col-sm-12 col d-flex justify-content-center ">
                        <div class="card col-lg-4 mx-2 my-2" style="width: 18.6rem; height: 400px">
                            <img src="<%= cars[i].photo %>" class="card-img-top mt-2 px-3" alt="..."
                                style="height: 190px; object-fit: scale-down;">
                            <div class="card-body">
                                <p>
                                    <%= cars[i].name %> / <%= cars[i].size %>
                                </p>
                                <h5 class="price fw-bold">Rp <%=cars[i].price%> / hari</h5>
                                <p><img src="/images/fi_clock.png" alt="" class="poin mx-1">Updated at <%=moment(cars[i].updatedAt).format('MMMM Do YYYY, h:mm ');%></p>
                                <a href="" type="button" class="btn btn-outline-danger fw-bold btn-card mx-1"
                                    style="font-size: 14px;" data-bs-toggle="modal"
                                    data-bs-target="#delete_data<%= cars[i].id %>"><i
                                        class='bx bx-trash-alt me-2'></i>Delete</a>
                                <a href="/edit-car/<%= cars[i].id %>" type="button"
                                    class="btn mx-2 green-4 text-white fw-bold btn-card"><i
                                        class='bx bxs-edit me-2'></i>Edit</a>
                                <div class="modal fade" id="delete_data<%= cars[i].id %>" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered"
                                        style="max-width: 387px; max-height: 333px;">
                                        <div class="modal-content">
                                            <div class="modal-body align-items-center text-center m-auto">
                                                <img src="/images/img-BeepBeep.png" alt="" class="m-auto">
                                                <h3 class="fw-bold my-4">Menghapus Data Mobil</h3>
                                                <p class="mb-4" style="max-width: 300px;">Setelah dihapus, data mobil
                                                    tidak
                                                    dapat dikembalikan. Yakin ingin menghapus?</p>
                                                    <a href="/cars/<%= cars[i].id %>/delete">
                                                    <button type="submit" class="btn btn-blue btn-medium fw-bold mx-2"
                                                        name="" value="" onclick="">Ya</button></a>
                                                </form>
                                                <button type="button" class="btn btn-white btn-medium fw-bold mx-2"
                                                    data-bs-dismiss="modal" aria-label="Close">Tidak</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

    </body>
    <script src="/js/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</html>