<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>input Car</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg">
      <div class="container">
        <!-- <i class='bx bx-menu mx-4' id="header-toggle"></i> -->
      </div>
      <form class="d-flex">
        <input
          class="form-control input-search"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-primary btn-white btn-large fw-bold"
          type="submit"
        >
          Search
        </button>
      </form>
      <div class="ms-3">
        <img
          src="/images/icon_profil.png"
          class="rounded-circle"
          alt=""
          style="width: 38px; height: 38px; object-fit: cover"
        />
      </div>
      <div class="btn-group">
        <button
          type="button"
          class="btn dropdown-toggle"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          Unis Badri
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-end">
          <li><button class="dropdown-item" type="button">Action</button></li>
          <li>
            <button class="dropdown-item" type="button">Another action</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">
              Something else here
            </button>
          </li>
        </ul>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar close">
      <div class="sidebar-color"></div>
      <header>
        <div class="image-text">
          <span class="image ms-2">
            <img src="/images/sidebar_logo.png" alt="" style="width: 34px" />
          </span>
          <div class="img-brand">
            <img src="/images/binar.png" alt="" style="height: 34px" />
          </div>
          <i class="bx bx-menu mx-4 toggle" id="header-toggle"></i>
        </div>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="nav-link mt-2">
            <a href="#">
              <!-- <i class='bx bx-home-alt'></i> -->
              <img src="/images/home.png" alt="" />
              <span class="fw-bold mx-3">CARS</span>
            </a>
          </li>
          <li class="nav-link mt-4">
            <a href="#">
              <!-- <i class='bx bx-home-alt'></i> -->
              <img src="/images/administrator.png" alt="" />
              <span class="fw-bold mx-3">List Car</span>
            </a>
          </li>
        </div>
      </div>
    </div>

    <main class="main close my-3">
      <div class="rule pt-3">
        <a class="fw-bold">CARS<i class="bx bx-chevron-right"></i></a>
        <a class="fw-bold" href="/">List Car</a
        ><i class="bx bx-chevron-right"></i>
        <a>Add New Car</a>
      </div>
      <h4 class="fw-bold my-3">Add New Car</h4>
      <form method="post" action="/cars/create" enctype="multipart/form-data">
        <div
          class="container-fluid create-form mt-4 pt-2"
          style="background-color: #ffff"
        >
          <div class="row my-3">
            <div class="col-2">
              <label for="id_size">Id Size<span>*</span></label>
            </div>
            <div class="col-4">
              <input
                name="id_size"
                type="text"
                class="form-control"
                placeholder="1:Small, 2:Medium, 3:Large"
                required
              />
            </div>
          </div>
          <div class="row my-3">
            <div class="col-2">
              <label for="nama">Nama<span>*</span></label>
            </div>
            <div class="col-4">
              <input
                name="name"
                type="text"
                class="form-control"
                placeholder="Jeep"
                required
              />
            </div>
          </div>
          <div class="row my-3">
            <div class="col-2">
              <label for="nama">Sewa Per Hari<span>*</span></label>
            </div>
            <div class="col-4">
              <input
                name="price"
                type="text"
                class="form-control"
                placeholder="Rp 0,-"
                required
              />
            </div>
          </div>
          <div class="row my-3">
            <div class="col-2">
              <label for="nama">Ukuran<span>*</span></label>
            </div>
            <div class="col-4">
              <select name="size" class="form-select" id="">
                <!-- <option selected>Choose...</option> -->
                <option value="Small" selected>Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
              </select>
            </div>
          </div>
          <div class="row my-3 mb-3">
            <label for="nama" class="col-sm-2 col-form-label">Foto</label>
            <div class="col-sm-4 mb-3">
              <input
                type="file"
                class="form-control text-input"
                name="photo"
                id=""
                required
              />
            </div>
          </div>
        </div>
        <div class="row mt-5 pt-5">
          <a href="/" type="submit" class="btn btn-white btn-small fw-bold mx-2"
            >Cancel</a
          >

          <input
            type="submit"
            value="Save"
            class="btn btn-blue btn-small fw-bold mx-2"
          />
        </div>
      </form>
    </main>
  </body>
  <script src="/js/navbar.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
